<div class='session'>
  <h3>{{model.Title}}</h3>

  <div>
    <strong>Day: </strong>
    {{moment-weekday model.SessionStartTime}}
  </div>
  <div>
    <strong>Time: </strong>
    {{moment-time model.SessionStartTime}}-{{moment-time model.SessionEndTime}}
  </div>
  <div>
    <strong>Room: </strong>
    <ul class='inline-list rooms'>
      {{#each room in model.Rooms}}
        <li>{{room}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <strong>Tags: </strong>
    <ul class='inline-list'>
      {{#each tag in model.Tags}}
        <li>{{tag}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <strong>Speakers: </strong>
    <ul class='inline-list'>
      {{#each speaker in model.Speakers}}
        <li>{{speaker.FirstName}} {{speaker.LastName}}</li>
      {{/each}}
    </ul>
  </div>
  <div>{{model.Abstract}}</div>
</div>
