<div class='sessions'>
  <h3>
    {{moment-weekday SessionStartTime}} - {{moment-time SessionStartTime}} Sessions
  </h3>

  <ul>
  {{#each session in model}}
    <li>
      {{#link-to 'plan.sessions-by-time.session' session}}{{session.Title}}{{/link-to}}
    {{#each speaker in session.Speakers}}
      {{speaker.FirstName}} {{speaker.LastName}}, 
    {{/each}}
    </li>
  {{/each}}
  </ul>

  {{outlet}}
</div>
