<div class='sessions'>
  {{#if isSessionView}}
    <h3>
      {{moment-weekday sessionStartTime}} - {{moment-time sessionStartTime}} Sessions
    </h3>

    <ul>
    {{#each session in filteredModel}}
      <li>
        {{#link-to 'plan.sessions-by-time.session' session}}{{session.Title}}{{/link-to}}
      {{#each speaker in session.Speakers}}
        {{speaker.FirstName}} {{speaker.LastName}}, 
      {{/each}}
      </li>
    {{/each}}
    </ul>
  {{else}}
    <h3>
      {{moment-weekday sessionStartTime}}
    </h3>

    <ul>
    {{#each session in filteredModel}}
      <li>
        {{moment-time session.SessionStartTime}} - {{moment-time session.SessionEndTime}}:
        {{#link-to 'plan.sessions-by-time.session' session}}{{session.Title}}{{/link-to}}
      </li>
    {{/each}}
    </ul>
  {{/if}}

  {{outlet}}
</div>
