<div class='sessions'>
  {{#if isSessionView}}
    <h3>
      {{moment-weekday sessionStartTime}}: {{moment-time sessionStartTime}}
    </h3>

    <ul>
    {{#each session in filteredModel}}
      <li>
        {{#link-to 'plan.sessions-by-time.session' session}}{{session.Title}}{{/link-to}}
        <ul class='inline-list'>
          {{#each speaker in session.Speakers}}
            <li>{{speaker.FirstName}} {{speaker.LastName}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
    </ul>
  {{else}}
    <h3>
      {{moment-weekday sessionStartTime}}
    </h3>

    <ul>
    {{#each session in filteredModel}}
      <li>
        {{moment-time session.SessionStartTime}}-{{moment-time session.SessionEndTime}}:
        {{#link-to 'plan.sessions-by-time.session' session}}{{session.Title}}{{/link-to}}
      </li>
    {{/each}}
    </ul>
  {{/if}}

  {{outlet}}
</div>
