<h3>Sessions</h3>

<ul>
{{#each session in model}}
  <li class='session'>
    <div class='session-title'>
      {{session.Title}} ({{session.Room}})
    </div>
    <div class='session-details'>
      <strong>{{session.Title}}</strong>
      <div>
        <strong>Room: </strong>
        {{session.Room}}
      </div>
      <div>
        <strong>Tags: </strong>
        {{#each tag in session.Tags}}
          {{tag}}, 
        {{/each}}
      </div>
      <div>
        <strong>Speakers: </strong>
        {{#each speaker in session.Speakers}}
          {{speaker.FirstName}} {{speaker.LastName}}, 
        {{/each}}
      </div>
      <div>{{session.Abstract}}</div>
    </div>
  </li>
{{/each}}
</ul>
