<div class='plan'>
  <h3>Schedule</h3>

  <ul>
  {{#each group in groupedSessionTimes}}
    <li>
      {{#if isSessionView}}
        {{moment-weekday group.key}}
        <ul>
        {{#each item in group.values}}
          <li>{{#link-to 'plan.sessions-by-time' item}}{{moment-time item}}{{/link-to}}</li>
        {{/each}}
        </ul>
      {{else}}
        {{#link-to 'plan.sessions-by-time' group.key}}{{moment-weekday group.key}}{{/link-to}}
      {{/if}}
    </li>
  {{/each}}
  </ul>

  <ul>
    <li>{{#link-to 'plan' (query-params type='sessions')}}CodeMash Sessions{{/link-to}}</li>
    <li>{{#link-to 'plan' (query-params type='codemash')}}CodeMash Schedule Items{{/link-to}}</li>
    <li>{{#link-to 'plan' (query-params type='kidzmash')}}Kidz Mash{{/link-to}}</li>
  </ul>

  <button {{action 'refreshSessions'}}>Refresh Sessions</button>
</div>

{{outlet}}
