<div class='plan'>
  <h3>Schedule</h3>

  <ul>
  {{#each group in groupedSessionTimes}}
    <li>
      {{#if isSessionView}}
        {{moment-weekday group.key}}
        <ul>
        {{#each item in group.values}}
          <li>{{#link-to 'plan.sessions-by-time' item}}{{moment-time item}}{{/link-to}}</li>
        {{/each}}
        </ul>
      {{else}}
        {{#link-to 'plan.sessions-by-time' group.key}}{{moment-weekday group.key}}{{/link-to}}
      {{/if}}
    </li>
  {{/each}}
  </ul>

  <button {{action 'refreshSessions'}}>Refresh Schedule</button>
</div>

{{outlet}}
